---
interface Props {
	path?: string;
	class?: string;
}

const { path, class: className } = Astro.props;
const currentPath = path || Astro.url.pathname;
const uniqueId = `waline-view-${Math.random().toString(36).substr(2, 9)}`;
---

<span 
	id={uniqueId}
	class={`waline-pageview-count ${className || ''}`} 
	data-path={currentPath}
>
	--
</span>